#bodyBox {
    width:480px;
    margin-left: auto;
    margin-right: auto;
}
#todoTextInputBox {
    width:460px;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
}
#list_tasks_div {
    width:460px;
    font-family: sans-serif;
    font-size: 20px;
}
#task_header {

}
#tasks_body {

}
#task_footer {

}
.task {
    border-bottom: lightgray outset thin;
    width:450px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:10px;
}

.task_label {
    display: inline-block;
    margin: 4px 4px 4px 4px;
    width: 360px;
    font-family: monospace;
    font-size: 22px;


}
.task_button {
    display: inline-block;
    margin: 4px;
    float:right;
    width:30px;
}
.completed_task {
    font-style: italic;
    text-decoration: line-through;
}