/**
-------------------------------------------------------
STYLES FOR BASIC HTML TAGS
---------------------------------------------------
*/
body {
    background: #f5f5f5;
    font-family: monospace;
}
input[type=text] {
    padding-left: 2px;
    font-family: Arial;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid #999999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
}
h1 {
    color: inherit;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
.text-centered {
    text-align: center;
}
.span10 {
    width: 480px;
}
/*  -------------------------------
            MAIN BODY
    ------------------------------
*/

#bodyBox {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 1px 1px lightgray;
    border-radius: 0 0 5px 5px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
#bodyBox:hover {
    box-shadow: 2px 2px 2px 2px lightgray;
}
#todoTextInputBox {
    width:460px;
    height: 35px;
    font-family: sans-serif;
    font-size: 30px;
    text-shadow: lightgray;
    padding:6px;
}

/*
========================================================
                LIST TASKS DIV
=========================================================
*/

#list_tasks_div {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 460px;
}
/* ============ TASKS HEADER ========================*/
#tasks_header {
    display: none;
    background-color: lightyellow;
    width:100%;
    margin-top: -6px;
    padding-bottom: 4px;
}
#mark-all-label {
    float: left;
    font-family: 'Lucida Grande';
    font-size: 15px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-top: 4px;
    width: 410px;
}
#mark-all-checkbox {
    width:20px;
    float:left;
    height: 18px;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}

/* =============== TASKS BODY =========================*/
#tasks_body {
     width:100%;
}
.task {
    border-bottom: 1px solid #CCCCCC;
    width:450px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top:10px;
    background-color: #f5f5f5;
}
.task:hover {
    background-color: white;
}

.task_label {
    display: inline-block;
    margin: 4px 4px 4px 4px;
    width: 360px;
    font-family: monospace;
    font-size: 22px;


}
.task_button {
    display: inline-block;
    margin: 4px;
    float:right;
    width:30px;
}
.completed_task {
    font-style: italic;
    text-decoration: line-through;
}
.task_edit_textbox {
    width:440px;
    font-family: sans-serif;
    font-size: 24px;
    height: 40px;
}
.task_container {
    width: 440px;
}
.task_editbox {
    width:440px;
    display:none;
}

/* =============== TASKS FOOTER =======================*/
#tasks_footer {
    display:none;
    width: 100%;
    background: none repeat scroll 0 0 lightyellow;
    margin-top: 10px;
}
#tasks_left {
    float: left;
    font-size: 14px;
    margin-left: 10px;
    width: 90px;
}
#tasks_left_label {
    float: left;
    width: 20px;
    font-weight: bolder;
    color: green;
    text-shadow: lightgray;
}

#tasks_remaining {
    visibility: hidden;
}
#clear_all_button {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:1px solid #dcdcdc;
    color:#777777;
    float: right;
    font-family:Arial;
    font-size:11px;
    font-weight:normal;
    padding: 3px 12px;
}
#clear_all_button:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
     background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
     background-color:#dfdfdf;
 }
#clear_all_button:active {
      position:relative;
      top:1px;
  }
#completed_items_label {
    font-weight: bolder;
    /*display: inline;*/
    color: red;
}

#info-label {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    width: 100%;
}
